# Copy the contents of this file into a new file called .env.

# The following key-value pairs will be added to process.env
# via the dotenv npm module, as used in server/db.js.

Superbase_URL="https://yourlinkhere.supabase.co"
Superbase_API_Key="yourkeyhere"
PORT=3000